@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@400;700&display=swap');

body{
  display: flex;
  justify-content: center;
  font-family: 'Bellota', cursive;
}

#root{
  margin: 0 auto;
}

p{
  font-family: 'Times New Roman', Times, serif;
}