@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@400;700&display=swap');

body{
  display: flex;
  font-family: 'Bellota', cursive;
}

#root{
  margin: 0 auto;
}

p{
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}

input{
  border: none;
  outline: none;
}

fieldset{
  border-radius: 25px;
  border: 2px solid tomato;
}

.not-boil{
  color: tomato;
}

.boil{
  color: seagreen;
}

legend{
  color: gray;
}